.contentContainer{
  position: relative;
  top: 84px;      // 头栏高度64
  margin: 0 20px;

  // @media screen and (max-width: $sideBarRightHideLimit){
  //   margin-right: 25px;
  // }

  :global .mainLayout-content{
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}