$main: #6B69D6;
$dark: #504FA0;
$light: #9796E3;
$subtext: #ABABAB;
$black: #313131;

$colors: (
  main: $main,
  dark: $dark,
  light: $light,
  subtext: $subtext,
  black: $black
);

$sideBarRightHideLimit: 880px;

@each $name, $color in $colors{
  .color-#{$name}{
    color: $color;
  }

  .color-#{$name}-bg{
    background-color: $color;
  }
}

@function light($color, $purity: 10%){
  @return mix($color, white, $purity);
}

@function dark($color, $purity: 90%){
  @return mix($color, black, $purity);
}