@import './common.scss',
        './flex.scss';

$minWidth: 720px;

html, body{
  min-width: $minWidth;
  margin: 0;
}

.MuiAppBar-positionFixed:not(foo){
  left: 0;
  min-width: $minWidth;
}