@import './common.scss',
        './flex.scss',
        './transition.scss';

$minWidth: 720px;

html, body{
  min-width: $minWidth;
  margin: 0;
}

.MuiAppBar-positionFixed:not(foo){
  left: 0;
  min-width: $minWidth;
}

#nprogress:not(foo){
  $color: #F9CD36;

  .bar{
    z-index: 10000;
    background-color: $color;
    height: 4px;
    border-radius: 10px;
  }

  .peg{
    box-shadow: 0 0 15px $color, 0 0 10px $color, 0 0 5px $color;
  }
}