.root {
  :global{
    .MuiPaper-root{
      background-color: $black;
    }

    .MuiPaper-root{
      color: #C5C5C5;
    }

    .MuiListItem-button:hover{
      background-color: rgba(255, 255, 255, 0.2);
    }

    .MuiTouchRipple-root{
      color: white;
    }
  }
} 

.drawer{
  width: 220px;
}

.avatar{
  margin: 30px auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px white solid;
  transition: all 0.2s;
  cursor: pointer;

  &:hover{
    transform: scale(1.05);
  }
}

.info{
  text-align: center;
  color: #A99CFF;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 10px;
}